.auth-layout {
  height: 100vh;
  // background: url("https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/images/image__white__swirl__bg.svg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // overflow: hidden;
  background-color: #ffffff;

  // padding: 4.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;

  &__logo {
    width: 165px;
    margin-top: 8.5rem;
  }

  &__container {
    width: 400px;
    height: auto;
    background: #ffffff;
    box-shadow: 40px 40px 40px 40px #3333330d;
    border-radius: 4px;
    padding: 38px 32px;
  }
}

@media screen and (max-width: 500px) {
  .auth-layout {
    background: white;
    gap: 0;
    align-items: flex-start;

    &__logo {
      width: 65px;
      margin-top: 52px;
      margin-left: 1rem;
    }

    &__container {
      box-shadow: none;
      padding: 1rem;
      width: fit-content;
      max-width: 400px;
    }
  }
}
