@use '../../../../../../styles.scss';

p {
    font-size: 12px;
}

svg {
    height: 50px;
}

.dashboard-stat {
    margin: 44px 0px;

    &:not(:last-child) {
        @extend .border-right-gray;
    }
}

.merchant-card {
    .flexed {
        p, h4 {
            align-self: center;
            margin: 4px 0px;
        }
    }
}

hr {
    opacity: 0.2;
}