<div  class="cards-container">
  <div  class="container">

    <div class="reposition-breadcrumbs" *ngIf="!currentUrl.includes('users')">
      <ul class="breadcrumbs-container">
        <li
          class="crumb"
          style="display: block"
          routerLink="/users"
          queryParamsHandling="preserve"
        >
          <a class="crumb-link">My Users</a>
        </li>
    
        <li
          class="crumb active-crumb"
          *ngIf="currentUrl.includes('users')"
        >
          <a class="crumb-link">Users Details</a>
        </li>

        <li
          class="crumb active-crumb"
          *ngIf="currentUrl.includes('roles')"
        >
          <a class="crumb-link">Users Roles</a>
        </li>
      </ul>
    </div>

    <div class="" style="padding-top: 20px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>