.verification {
  display: grid;
  place-items: center;

  .verification_logo {
    max-width: 130px;
    max-height: 130px;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    margin: 0;
  }
  .text-error {
    color: #ff0000;
  }
  .btn {
    width: 100%;
    color: #fff;
    margin-top: 15px;
  }
}
